.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
}
/*
.grayscale {
  margin: 20px;
  filter: grayscale(100%);
}
*/
.contrast {
  margin: 20px;
  filter: contrast(150%) grayscale(100%);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
